body {
  /* Agrupando background [shorthand - atalho para todas as outras propriedades]
   * - color
   * - image
   * - repeat
   * - position/size
   */
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px;
  height: 712px;
  border: 1px solid red;
  margin: auto;
}

#profile {
  text-align: center;

  /* Centralizando perfil
   * O pai (#profile) do elemento inline (<img>) permite alinhar os elementos.
   */
}

#profile img {
  width: 112px;

  /* Display
   * display: block;
   * margin: auto;
   * - Por padrão a imagem é display inline. 
   * - Portanto, para aplicar a propriedade "margin", foi necessário configurar sua visualização como block.
   */
}

#profile p {
  font-weight: 500; /* Peso da fonte */
  font-size: 16px; /* Tamanho da fonte */
  line-height: 24px; /* Altura da linha */
}
