* {
  /* Seletor universal (todos os elementos)
   * resetar os padrões de margem gerados automaticamente pelo navegador.
   */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* A medida do tamanho da caixa passar a ser considerada a partir da borda. */
}

/* Definindo variáveis */
/* Forma de uso
 * var(variável);
 */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5); /* Borda */
  --surface-color: rgba(255, 255, 255, 0.1); /* background */
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /* Agrupando background [shorthand - atalho para todas as outras propriedades]
   * - color
   * - image
   * - repeat
   * - position/size
   */
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%; /* Preencher automaticamente */
  max-width: 588px;
  height: 712px; /* 712 */
  padding: 0 24px;
  /*
  margin-top: 56px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  */
  margin: 56px auto 0px auto;
}

/* Profile */
#profile {
  text-align: center;
  padding: 24px; /* Preenchimento */

  /* Centralizando perfil
   * O pai (#profile) do elemento inline (<img>) permite alinhar os elementos.
   */
}

#profile img {
  width: 112px;

  /* Display
   * display: block;
   * margin: auto;
   * - Por padrão a imagem é display inline. 
   * - Portanto, para aplicar a propriedade "margin", foi necessário configurar sua visualização como block.
   */
}

#profile p {
  font-weight: 500; /* Peso da fonte */
  font-size: 16px; /* Tamanho da fonte */
  line-height: 24px; /* Altura da linha */
  margin-top: 8px;
}

/* Switch */
#switch {
  width: 64px;
  position: relative;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* Posicionamento */
  position: absolute;
  left: 0;
  z-index: 1; /* Botão acima do track*/
  top: 50%;
  transform: translateY(-50%); /* Movendo o botão */

  animation: slide-out 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.4s forwards; /* Continuar de onde parou */
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  border-radius: 9999px;

  /* Posicionamento track */
}

/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex; /* Cria um linha virtual e central em cada elemento (main, eixo principal) */
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /* Retirar linha do link */
  font-weight: 500;

  transition: background 0.2s; /* Transição ao carregar a página */

  /* Display flex
   * justify-content: center;
   * - Faz com que os elementos da caixa ul ficam um do lado do outro.
   * - Os li's ficam um ao lado do outro de maneira flexível.
   */

  /* Display block
   * text-align: center;
   */
}

/* Pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* Social Links */
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;

  font-size: 24px;
}

#social-links a {
  /* Para adicionar a linha main em cada elemento */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/* Footer */
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

footer span {
  font-weight: 500;
}

/* Media queries */
@media (min-width: 700px) {
  /* De 700px para cima adicione: */
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }

  /* Animação
  Leva o left de 0 para 50% em 0.4s. */
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
